<table class="w-full text-sm">
  <thead class="bg-slate-50 text-slate-400 uppercase text-xs">
      <tr>
          <th class="px-4 py-3 w-10"></th>
          <th class="px-4 py-3 text-left">Product</th>
          <th class="px-4 py-3 text-center w-32">Quantity</th>
      </tr>
  </thead>

  <tbody class="divide-y divide-slate-100">
      {% for product in page_obj.object_list %}
      <tr class="orderable-item hover:bg-slate-50/50 transition">
          <td class="text-center">
              <label class="px-4 py-3 cursor-pointer flex items-center justify-center">
              <input
                  id="label_{{ product.id }}"
                  type="checkbox"
                  data-product-id="{{ product.id }}"
                  {% if order %}
                  {% if product.id in selected_product_ids %}checked{% endif %}
                  {% endif %}
                  class="designed-checkbox product-check h-4 w-4 rounded border-slate-300 text-indigo-600"
              >
              </label>
          </td>
          <td>
              <label for="label_{{ product.id }}" class="flex px-4 py-3 flex-col">
                  <span class="product-name font-semibold text-slate-800">{{ product.name }}</span>
                  <span class="product-price text-xs text-slate-400">৳{{ product.price }}</span>
              </label>
          </td>

          <td class="px-4 py-3 text-center">
              <input
                  type="number"
                  name="qty"
                  min="1"
                  {% if order %}
                    {% for item in order.items.all %}
                      {% if item.product.id == product.id %}
                        value="{{ item.qty }}"
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    value="1"
                  {% endif %}
                  class="qty-input w-20 text-center rounded-lg border border-slate-200 px-2 py-1 focus:ring-indigo-500 focus:border-indigo-500"
              >
          </td>
      </tr>
      {% empty %}
      <tr>
          <td colspan="2" class="px-4 py-3 text-center text-slate-500">No products found</td>
      </tr>
      {% endfor %}
  </tbody>
</table>
<!-- =====Pagination with numbers ===== -->
<div class="flex justify-between items-center px-4 py-3  bg-slate-50 border-t border-slate-100">
  <span class="text-sm text-slate-500">
      Page {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
  </span>
  <div class="flex gap-1">
      {% if page_obj.has_previous %}
          <a href="BDT{% if q %}q={{ q }}&{% endif %}page={{ page_obj.previous_page_number }}" class="page-link p-2 bg-white border border-slate-200 rounded-lg text-slate-400 hover:text-indigo-600">
              <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
          </a>
      {% else %}
          <button class="p-2 bg-white border border-slate-200 rounded-lg text-slate-400">
              <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
          </button>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
          {% if num == page_obj.number %}
              <span class="px-3 py-1 bg-indigo-600 border text-white rounded-lg">{{ num }}</span>
          {% else %}
              <a href="BDT{% if q %}q={{ q }}&{% endif %}page={{ num }}" class="page-link px-3 py-1 bg-white border border-slate-200 rounded-lg text-slate-500 hover:text-indigo-600 transition-colors">
                  {{ num }}
              </a>
          {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
          <a href="BDT{% if q %}q={{ q }}&{% endif %}page={{ page_obj.next_page_number }}" class="page-link p-2 bg-white border border-slate-200 rounded-lg text-slate-400 hover:text-indigo-600">
              <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
          </a>
      {% else %}
          <button class="p-2 bg-white border border-slate-200 rounded-lg text-slate-400">
              <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
          </button>
      {% endif %}
  </div>
</div>
