# supabse Transaction pooler connection
DB_NAME=<db_name>
DB_USER=<db_name>.<random_code> 
DB_PASSWORD=<db_pass>
DB_HOST=<db_host>
DB_PORT=<db_port>
# supabase storage
SUPABASE_URL=<supabase_url>
SUPABASE_SERVICE_ROLE_KEY=<supabase_service_role_key>
SUPABASE_BUCKET=<supabase_bucket_name>