# app
SECRET_KEY=<django_secret_key>
PRODUCTION=False
ALLOWED_HOSTS=.onrender.com,yourdomain.com
CSRF_TRUSTED_ORIGINS=https://*.onrender.com,https://yourdomain.com
SECURE_HSTS_SECONDS=0

# database
# Add this to use Neon locally or in Render. Keep sslmode=require.
DATABASE_URL=postgresql://<user>:<password>@<host>/<database>?sslmode=require
