{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}Hishab Khata - আপনার ব্যবসার আধুনিক সমাধান{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <style>
        {% comment %} body { font-family: 'Hind Siliguri', sans-serif; } {% endcomment %}
    </style>
    <link rel="stylesheet" href="{% static 'tailwind/output.css' %}">
    {% block extra_head %}{% endblock %}
</head>

<body class="min-h-screen bg-gray-50 text-gray-800 flex flex-col">

    <!-- Header include -->
    {% include "partials/main_header.html" %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include "partials/main_footer.html" %}
    
    {% include "partials/feedback.html" %}
    {% block extra_scripts %}{% endblock %}
</body>
</html>
