{% extends "layouts/auth_base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
<div class="absolute top-8 left-8">
    <a href="{% url 'user:stores' %}" class="flex items-center gap-2 text-slate-500 hover:text-indigo-600 transition group">
        <svg class="w-5 h-5 transform group-hover:-translate-x-1 transition" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
        </svg>
        <span>Return to the dashboard</span>
    </a>
</div>

<div class="sm:mx-auto sm:w-full sm:max-w-md">
    <!-- Logo -->
    <div class="flex justify-center items-center gap-2 mb-6">
        <!-- Logo -->
        {% include "partials/white_logo.html" %}
    </div>
    <h2 class="text-center text-3xl font-bold tracking-tight text-slate-900">Change password</h2>
    <p class="mt-2 text-center text-sm text-slate-600 px-4">
        Use strong passwords to ensure the security of your account.</p>
</div>

<div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-10 px-6 shadow-xl shadow-slate-200/50 border border-slate-100 sm:rounded-xl sm:px-12">
        <form class="space-y-6" method="POST">
            {% csrf_token %}
            {{ form }}

            <button type="submit" 
                class="flex w-full justify-center rounded-xl bg-indigo-600 px-4 py-3 text-md font-semibold text-white shadow-lg shadow-indigo-200 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 transition transform active:scale-[0.98]">
                Update password</button>
        </form>
    </div>
    
    <p class="mt-8 text-center text-xs text-slate-400">
        Don't remember the password?<a href="{% url 'user:password_reset' %}" class="text-indigo-600 hover:underline">Reset</a>
    </p>
    <!-- Bottom Links -->
    {% comment %} <p class="mt-8 text-center text-sm text-slate-500">
        Need helpBDT 
        <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">Contact the support team</a>
    </p> {% endcomment %}
</div>
{% endblock %}



<h1>Change Password</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change Password</button>
</form>
