{% extends "layouts/store_base.html" %}
{% block title %}{{store.name}} Product List{% endblock %}
{% block main_content %}
<header class="flex flex-col md:flex-row justify-between items-start md:items-center gap-4">

    <!-- Back Button and Title -->
    <div class="mb-8">

        <a href="{% url 'expenses:expense_list' store.id %}"
           class="flex items-center gap-2 text-slate-500 hover:text-indigo-600 transition-colors mb-4 group">

            <svg class="w-4 h-4 group-hover:-translate-x-1 transition-transform"
                 fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M15 19l-7-7 7-7"></path>
            </svg>

            Go Back
        </a>


        {% if expense %}
        <h1 class="text-3xl font-bold text-slate-900 tracking-tight">
            Update Expense
        </h1>
        <p class="text-slate-500 mt-1">
            Update the expense information
        </p>
        {% else %}
        <h1 class="text-3xl font-bold text-slate-900 tracking-tight">
            Add New Expense
        </h1>
        <p class="text-slate-500 mt-1">
            Enter the expense information
        </p>
        {% endif %}

    </div>
</header>



<section class="bg-white rounded-xl border border-slate-200 shadow-sm overflow-hidden">

    {% if messages %}
    <div class="bg-rose-50 border border-rose-200 text-rose-800 px-4 py-3 rounded-t-xl mb-4">
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}


    <form method="post">
        {% csrf_token %}

        <!-- Form fields -->
        <div class="p-6 grid grid-cols-1 md:grid-cols-2 gap-6">
            {{ form }}
        </div>


        <!-- Buttons -->
        <div class="flex px-6 pb-6 gap-3 w-full justify-between md:w-auto col-span-full">

            <button type="submit"
                    name="action"
                    value="save"
                    class="flex-1 md:flex-none px-5 py-2.5 bg-indigo-600 text-white rounded-xl text-sm font-semibold hover:bg-indigo-700 shadow-lg shadow-indigo-100 transition-all">
                save</button>


            {% if expense %}
            <button name="action"
                    value="delete"
                    type="submit"
                    class="flex-1 md:flex-none px-5 py-2.5 bg-rose-600 text-white rounded-xl text-sm font-semibold hover:bg-rose-700 shadow-lg shadow-rose-100 transition-all text-center"
                    onclick="return confirm('Are you sure you want to delete this expense?BDT');">
                Delete</button>
            {% endif %}

        </div>
    </form>
</section>
{% endblock %}

